html
  head
    title=title
  body    
    h1=title
    h1 Thank you for your purchase! Confirmation of amount charged $ #{amount} USD
    h1 Payment Intent ID: #{checkoutSession.payment_intent}
    h1 Session ID: #{checkoutSession.id}
    h1=msg